@import 'vendor/neat/neat-helpers';

// Screen based breakpoints

$tiny:          new-breakpoint(min-width rem(320));  // 20rem
$tiny-plus:     new-breakpoint(min-width rem(480));  // 30rem
$small:         new-breakpoint(min-width rem(640));  // 40rem
$small-plus:    new-breakpoint(min-width rem(800));  // 50rem
$medium:        new-breakpoint(min-width rem(960));  // 60rem
$medium-plus:   new-breakpoint(min-width rem(1280)); // 80rem
$large:         new-breakpoint(min-width rem(1600)); // 100rem
$large-plus:    new-breakpoint(min-width rem(2240)); // 140rem


// Other breakpoints
