$flex-gutter: scale(1);

// Flexgrid, uses flex box for grid layout
%flexgrid {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: 0;
    padding: 0;

    &.gutters {
        margin-left: -($flex-gutter);

        .cell {
            padding-left: $flex-gutter;
        }
    }

    &.align, .cell.align {
        &.top {
            @include align-items(flex-start);
        }

        &.bottom {
            @include align-items(flex-end);
        }

        &.center {
            @include align-items(center);
        }

        &.baseline {
            @include align-items(baseline);
        }

        &.stretch {
            @include align-items(stretch);
        }
    }

    .cell {
        @include flex(1);

        &.full {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(100%);
        }

        &.half {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(50%);
        }

        &.third, &.thirds {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(33.333%);

            &.two {
                @include flex-grow(0);
                @include flex-shrink(0);
                @include flex-basis(66.666%);
            }
        }

        &.quarter, &.quarters {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(25%);

            &.three {
                @include flex-grow(0);
                @include flex-shrink(0);
                @include flex-basis(75%);
            }
        }

        &.fifth, &.fifths {
            @include flex-grow(0);
            @include flex-shrink(0);
            @include flex-basis(20%);

            &.two {
                @include flex-grow(0);
                @include flex-shrink(0);
                @include flex-basis(40%);
            }

            &.three {
                @include flex-grow(0);
                @include flex-shrink(0);
                @include flex-basis(60%);
            }

            &.four {
                @include flex-grow(0);
                @include flex-shrink(0);
                @include flex-basis(80%);
            }
        }
    }
}
