@import 'vendor/neat/neat-helpers';

// Grid variables for Neat

$column:            scale(5);
$gutter:            scale(1);
$grid-columns:      12;
$max-width:         rem(1280);


// MUST COME LAST IN THIS FILE
@import 'vendor/neat/neat';
