///
// Color Settings
///

// Cool
$aqua:  #21b4b1;
$blue:  #098cac;
$navy:  #215ab4;
$teal:  #469971;
$green: #60bb56;
$olive: #97aa66;
$lime:  #a3d869;

// Warm
$yellow:  #e4e04c;
$orange:  #e9ab3b;
$red:     #f56345;
$fuchsia: #f078d4;
$purple:  #b951c9;
$maroon:  #993d6a;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #222;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $black;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 20);

// Border color
$base-border-color: $silver;
