// Scale function is shorthand for outputting em or rem units of modular scale
@function scale ($times, $style: rem) {
    @if $style == em {
        @return em-scale($times);
    }
    @else {
        @return rem-scale($times);
    }
}

// Scale function for outputting rem units
@function rem-scale ($times) {
    @return rem(modular-scale($em-base, $times, $scale));
}

// Scale function for outputting em units
@function em-scale ($times) {
    @return em(modular-scale($em-base, $times, $scale));
}


// Really simple vertical rhythm calculator
@mixin vertical-rhythm ($font-size, $baseline: $base-line-height, $extra-rounds: 0) {
    $result: $baseline;

    @while $result < $font-size {
        $result: $result + $baseline;
    }

    @if $extra-rounds > 0 {
        @for $i from 1 through $extra-rounds {
            $result: $result + $baseline;
        }
    }

    font-size: $font-size;
    line-height: $result;
}
