///
// Icons (via Font Awesome)
///

$fa-font-path:        "../fonts/font-awesome";
$fa-css-prefix:       icon;
$fa-version:          "4.1.0";
$fa-border-color:     #eee;
$fa-inverse:          #fff;
$fa-li-width:         (30em / 14);


// Font-Awesome
@import '../vendor/font-awesome/font-awesome';
