// Font Sets From Bourbon
// $georgia: Georgia, Cambria, "Times New Roman", Times, serif;
// $helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
// $lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
// $monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
// $verdana: Verdana, Geneva, sans-serif;

// Font Stacks
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Scaling Variables From Bourbon
// $minor-second:     1.067;
// $major-second:     1.125;
// $minor-third:      1.2;
// $major-third:      1.25;
// $perfect-fourth:   1.333;
// $augmented-fourth: 1.414;
// $perfect-fifth:    1.5;
// $minor-sixth:      1.6;
// $golden:           1.618;
// $major-sixth:      1.667;
// $minor-seventh:    1.778;
// $major-seventh:    1.875;
// $octave:           2;
// $major-tenth:      2.5;
// $major-eleventh:   2.667;
// $major-twelfth:    3;
// $double-octave:    4;


// Basics
// These are used by functions, mixins, and other stuff
$em-base: 16px;
$scale: $major-third;

$base-font-size: rem($em-base);
$base-line-height: rem(modular-scale($em-base, 1, $golden));
$unitless-line-height: strip-units($base-line-height);
$base-border-radius: rem(3);
