$button-box-shadow: 0 1px 3px rgba($base-border-color, 0.6);

button:not(.link),
a.button {
    @include box-sizing(border-box);
    @include transition (all 0.1s linear);
    @include appearance (none);
    background-color: $base-border-color;
    border: 0;
    border-radius: $base-border-radius;
    box-shadow: $button-box-shadow;
    color: $base-font-color;
    display: inline-block;
    padding: ($base-line-height * 0.25) ($base-line-height * 0.5);

    &:focus, &:hover {
        outline: none;
        background-color: darken($base-border-color, 10);
    }
}

button.link {
    @include box-sizing(border-box);
    @include appearance (none);
    @extend a;
    @extend a[href];
    display: inline;
}
