
// Default Styling
html {
    font-size: $em-base;
}

body {
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
    $h1-font-size: scale(4);
    @include vertical-rhythm ($h1-font-size, $base-line-height);
}

h2 {
    $h2-font-size: scale(3);
    @include vertical-rhythm ($h2-font-size, $base-line-height);
}

h3 {
    $h3-font-size: scale(2);
    @include vertical-rhythm ($h3-font-size, $base-line-height);
}

h4 {
    $h4-font-size: scale(1);
    @include vertical-rhythm ($h4-font-size, $base-line-height);
}

h5 {
    $h5-font-size: scale(0);
    @include vertical-rhythm ($h5-font-size, $base-line-height);
}

h6 {
    $h6-font-size: scale(0);
    @include vertical-rhythm ($h6-font-size, $base-line-height);
}

p {
    line-height: $base-line-height;

    &.small {
        font-size: rem-scale(-1);
    }

    &.large {
        font-size: rem-scale(1);
    }
}

a {
    @include transition(color 0.1s linear);
    background-color: transparent;
    color: $base-link-color;
    text-decoration: none;
    border-bottom: rem(1) dotted;

    &[href] {
        border-bottom: rem(1) solid;
    }

    &:hover {
        color: $hover-link-color;
    }

    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

b,
strong {
    font-weight: bold;
}

hr {
    $border-thickness: rem(1);

    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;

    border: none;
    border-bottom: $border-thickness solid $base-border-color;

    * + & { // Override lobotomized owl to remove the line's impact on vertical rhythm
        margin-top: $base-line-height - $border-thickness;
    }
}

blockquote {
    $border-thickness: rem(3);

    font-size: rem-scale(1);
    border-left: $border-thickness solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin-left: $base-line-height;
    padding-left: $base-line-height - $border-thickness;
    padding-right: $base-line-height;
}

cite {
    color: lighten($base-font-color, 15);
    font-style: italic;

    &:before {
        content: '\2014 \00A0';
    }
}

sup, sub {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

abbr[title], acronym[title] {
    border-bottom: rem(1) dotted;
    cursor: help;
}

dfn {
    font-style: italic;
}

mark {
    padding-left: rem(2);
    padding-right: rem(2);
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

code, tt {
    padding: 0 ($base-font-size / 4);
    white-space: nowrap;
    border: rem(1) solid $base-border-color;
    background-color: darken($base-background-color, 3%);
    border-radius: $base-border-radius;
}

pre code {
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

pre {
    background-color: darken($base-background-color, 3%);
    border: rem(1) solid $base-border-color;
    font-size: rem-scale(-1);
    overflow: auto;
    padding: ($base-line-height / 4) ($base-line-height / 2);
    border-radius: $base-border-radius;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
}
