
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);

form {

}

fieldset {
    margin: inherit;
    padding: 0;
    border: 0;
}

legend {
    @extend h3;
}

input,
textarea,
label,
select,
option {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    vertical-align: baseline;
}

textarea, select[multiple=multiple] {
    vertical-align: middle;
}

label {
    @include vertical-rhythm ($base-font-size, $base-line-height, 1);
    vertical-align: middle;

    > * { // Remove lobotomized owl
        margin-top: 0;
    }

    > span {
        display: inline-block;
    }

    textarea, input, select {
        display: inline-block;
    }

    &.required > span:after {
        content: "*";
        color: darken($red, 20);
        padding-left: rem(1);
    }
}

optgroup, option {
    margin: 0;
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
    @include box-sizing(border-box);
    @include transition;
    border: rem(1) solid $base-border-color;
    border-radius: $base-border-radius;
    line-height: $base-line-height;
    padding: ($base-line-height * 0.25) - rem(2) ($base-line-height * 0.25);
    box-shadow: $form-box-shadow;

    &:focus, &:hover {
        outline: none;
        border-color: darken($base-border-color, 10);
    }
}

input[type="checkbox"], input[type="radio"] {
    // display: none;
    @include appearance(none);
    position: absolute;
    left: -9999px;
}

// Styled checkboxes
input[type=checkbox] {
    + span {
        @include transition;
        line-height: 1.5;

        &:before {
            @extend .icon;
            @extend .icon-square-o;
            padding-right: 0.3em;
            font-size: 1.5em;
            position: relative;
            top: 0.2em;
            color: darken($base-border-color, 10);
        }
    }

    &:hover + span:before, &:focus + span:before {
        color: darken($base-border-color, 20);
    }

    &:checked + span:before {
        @extend .icon-check-square-o;
        padding-right: 0.165em;
        color: darken($base-border-color, 20);
    }
}

// Styled radio buttons
input[type=radio] {
    + span {
        @include transition;
        line-height: 1.5;

        &:before {
            @extend .icon;
            @extend .icon-circle-o;
            padding-right: 0.3em;
            font-size: 1.5em;
            position: relative;
            top: 0.2em;
            color: darken($base-border-color, 10);
        }
    }

    &:hover + span:before, &:focus + span:before {
        color: darken($base-border-color, 20);
    }

    &:checked + span:before {
        @extend .icon-dot-circle-o;
        color: darken($base-border-color, 20);
    }
}

input[type="file"] {
    margin-bottom: $base-line-height / 2;
    padding-bottom: $base-line-height / 3;
    width: 100%;
}

select {
    margin-bottom: $base-line-height;
    max-width: 100%;
    width: auto;
}
