ul, ol, dl {
    padding: 0;
    list-style-type: none;
}

ul {
    list-style-type: disc;
    padding-left: $base-line-height;
}

ol {
    list-style-type: decimal;
    padding-left: $base-line-height;
}

li, dd {
    margin: 0;
}

ul ul, ol ol, ul ol, ol ul {

}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        margin-left: $base-line-height;
    }
}
