///
// Table Styles
///

// Table variables
$table-border-color: $base-border-color;
$table-border: 1px solid $table-border-color;
$table-cellspacing: 0;
$table-cellpadding: $base-line-height;

$table-background: $base-background-color;
$table-header-background: darken($table-background, 3);
$table-stripe-background: darken($table-background, 2);

$table-background-hover: darken($table-stripe-background, 2.5);
$table-stripe-background-hover: darken($table-stripe-background, 2.5);

table {
    border-collapse: separate;
    border-spacing: $table-cellspacing;
    border-bottom: rem(1) solid $table-border-color;
    width: 100%;
    background-color: $table-background;

    caption {
        line-height: $base-line-height;
    }

    tr, td, th {
        vertical-align: middle;
        line-height: $base-line-height;
    }

    th, td {
        padding-left: $table-cellpadding;
        padding-right: $table-cellpadding;
        padding-top: ($table-cellpadding / 2);
        padding-bottom: ($table-cellpadding / 2);
    }

    td, th {
        border-left: rem(1) dotted $table-border-color;
        border-bottom: rem(1) dotted $base-border-color;

        &:first-child {
            border-left: none;
        }
    }

    th {
        background-color: $table-header-background;
        text-align: left;
    }

    thead {
        th {
            border-bottom: rem(2) solid darken($base-border-color, 5);
        }
    }

    tbody {
        tr:last-child th, tr:last-child td {
            border-bottom: 0;
        }
    }
}

table.minimal {
    border-collapse: separate;
    border-spacing: $table-cellspacing;
    border-bottom: rem(1) dotted $table-border-color;
    width: 100%;
    background-color: $table-background;

    caption {
        line-height: $base-line-height;
    }

    tr, td, th {
        vertical-align: middle;
        line-height: $base-line-height;
    }

    th, td {
        padding-left: $table-cellpadding;
        padding-right: $table-cellpadding;
        padding-top: ($table-cellpadding / 2);
        padding-bottom: ($table-cellpadding / 2);
    }

    td, th {
        border-left: rem(1) dotted $table-border-color;
        border-bottom: rem(1) dotted $base-border-color;

        &:first-child {
            border-left: none;
        }
    }

    th {
        background-color: $table-background;
        text-align: left;
    }

    tbody {
        tr:last-child th, tr:last-child td {
            border-bottom: 0;
        }
    }
}

table.striped {
    tbody {
        td, th {
            border-bottom: rem(1) dotted $table-border-color;
        }

        tr:last-child th, tr:last-child td {
            border-bottom: 0;
        }

        tr:nth-child(2n+2) td {
            background: $table-stripe-background;
        }

        tr:hover > td {
            background-color: $table-background-hover;
        }

        tr:nth-child(2n+2):hover td {
            background: $table-stripe-background-hover;
        }
    }
}
