.js label.placeholder {
    @include transition;
    position: relative;

    > span {
        @include transition;
        background: none;
        padding: ($base-line-height / 3) ($base-line-height / 3);
        position: absolute;
        top: 0em;
        left: 0em;
    }

    > input, > textarea {
        @include transition;
        margin-top: 0em;
    }

    &.focused > span, &.populated > span {
        font-size: 0.8em;
        top: -1.8em;
        left: 0em;
    }

    &.focused > input, &.populated > input {
        //margin-top: 1em;
    }
}
