
$alert-color: $orange;
$error-color: $red;
$notice-color: $blue;
$success-color: $green;

@mixin flash($color) {
    @include clearfix;
    color: darken($color, 40);
    font-weight: bold;
    padding: $base-line-height * 0.5;
    background: rgba($color, 0.2);
    // border-radius: $base-border-radius;

    &:first-of-type {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
    }

    &:last-of-type {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
    }

    a {
        color: darken($color, 40);

        &:hover {
            color: darken($color, 10);
        }

        &.close {
            line-height: $base-line-height;
            float: right;
            border: 0;
            cursor: pointer;

            &:before {
                @extend .icon;
                @extend .icon-times;
                // color: $color;
                line-height: $base-line-height;
            }
        }
    }
}

div.messages {
    * + * {
        margin-top: 0;
    }
}

aside {
    > span {
        line-height: $base-line-height;
    }

    &.message {
        &.alert {
            @include flash($alert-color);
        }

        &.error {
            @include flash($error-color);
        }

        &.notice {
            @include flash($notice-color);
        }

        &.success {
            @include flash($success-color);
        }
    }

    &.validation {
        &.error {
            @include flash($error-color);
        }

        &.missing {
            @include flash($error-color);
        }

        &.invalid {
            @include flash($alert-color);
        }
    }
}

label {
    &.missing {
        > #{$all-text-inputs}, > textarea {
            border-color: darken($error-color, 20);
        }
    }

    &.invalid {
        > #{$all-text-inputs}, > textarea {
            border-color: darken($alert-color, 20);
        }
    }
}
